<div class="method">
  <h3 class="title">{{ title }}</h3>
  <div class="crypt">
    <p class="crypt__title">Encrypt source</p>
    <textarea
        [(ngModel)]="encryptSource"
        class="crypt__text"></textarea>
    <div class="crypt__btn">
      <span class="crypt__key-label">Key (1 - 100)</span>
      <input
          type="number"
          max="100"
          min="1"
          class="crypt__key"
          [(ngModel)]="encryptKey"
      >
      <button
          (click)="onEncryptClean()"
          class="btn btn_reset">Reset</button>
      <button
          (click)="onEncrypt()"
          class="btn">Encrypt</button>
    </div>
  </div>
  <div class="crypt">
    <p class="crypt__title">Decrypt source</p>
    <textarea
        [(ngModel)]="decryptSource"
        class="crypt__text"></textarea>
    <div class="crypt__btn">
      <span class="crypt__key-label">Key (1 - 100)</span>
      <input
          type="number"
          max="100"
          min="1"
          class="crypt__key"
          [(ngModel)]="decryptKey"
      >
      <button
          (click)="onDecryptClean()"
          class="btn btn_reset">Reset</button>
      <button
          (click)="onDecrypt()"
          class="btn">Decrypt</button>
    </div>
  </div>
</div>
