.title {
  margin-bottom: 30px;
}

.crypt {
  margin-bottom: 30px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &__title {
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__text {
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    padding: 5px;
    resize: vertical;
    max-height: 500px;
    border: 1px solid #838383;
    
  }
  &__key {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #838383;
    outline: none;
    font-size: 16px;
    max-width: 65px;
    margin-left: 20px;
  }
  &__key-label {
    margin-left: 20px;
  }
  &__btn {
    text-align: right;
    
    .btn {
      margin-left: 20px;
      outline: none;
      &_reset {
        background-color: #ff374e;
      }
    }
  }
}
