<h3 class="title">Steganography Least Significant Bit</h3>
<div class="form">
  <div class="form__field">
    <h2 class="form__field-title">Encode</h2>
    <label class="message">
      <span>Source message: </span>
      <input
          [(ngModel)]="message"
          (input)="messageInputHandler()"
          type="text"
      >
    </label>
    <label class="file">
      <span>Source image: </span>
      <input
          (change)="fileUploadHandler($event)"
          [disabled]="isUploadDisabled"
          type="file"
      >
    </label>
    <div class="result">
      <a
          *ngIf="isCompleteEncoded"
          href=""
          class="link"
          download
      >
        Download Encoded picture
      </a>
    </div>
  </div>
  <div class="form__field">
    <h2 class="form__field-title">Decode</h2>
    <label class="file">
      <span>File: </span>
      <input type="file">
    </label>
    <div class="result">
      <a
          *ngIf="isCompleteDecoded"
          href=""
          class="link"
          download
      >
        Download message
      </a>
    </div>
  </div>
</div>
<canvas #canvas id="canvas"></canvas>
<p class="picture__title">Picture</p>
<img [src]="image" alt="" class="picture">
