<h3 class="title">Steganography Least Significant Bit</h3>
<div class="form">
  <div class="form__field">
    <h2 class="form__field-title">Encode</h2>
    <label class="message">
      <span>Source message: </span>
      <input type="text">
    </label>
    <label class="file">
      <span>File: </span>
      <input type="file">
    </label>
    <div class="result">
      <a href="" class="link" download>Download Encoded picture</a>
    </div>
  </div>
  <div class="form__field">
    <h2 class="form__field-title">Decode</h2>
    <label class="file">
      <span>File: </span>
      <input type="file">
    </label>
    <div class="result">
      <a href="" class="link" download>Download message</a>
    </div>
  </div>
</div>
<p class="picture__title">Picture</p>
<img src="" alt="" class="picture">
